<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="COLLECTION_TITLE1" icon-off="COLLECTION_ICON1" icon-on="COLLECTION_ICON1" href="#/tab/collection_one">
    <ion-nav-view name="tab-collection_one"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <!-- REMOVE IF COLLECTIONS > 2<ion-tab title="COLLECTION_TITLE2" icon-off="COLLECTION_ICON2" icon-on="COLLECTION_ICON2" href="#/tab/collection_two">
    <ion-nav-view name="tab-collection_two"></ion-nav-view>
  </ion-tab>REMOVE IF COLLECTIONS > 2-->

  <!-- Account Tab -->
  <!-- REMOVE IF COLLECTIONS > 3<ion-tab title="COLLECTION_TITLE3" icon-off="COLLECTION_ICON3" icon-on="COLLECTION_ICON3" href="#/tab/collection_three">
    <ion-nav-view name="tab-collection_three"></ion-nav-view>
  </ion-tab>REMOVE IF COLLECTIONS > 3-->

  <!-- REMOVE IF COLLECTIONS > 4<ion-tab title="COLLECTION_TITLE4" icon-off="COLLECTION_ICON4" icon-on="COLLECTION_ICON4" href="#/tab/collection_four">
    <ion-nav-view name="tab-collection_four"></ion-nav-view>
  </ion-tab>REMOVE IF COLLECTIONS > 4-->


</ion-tabs>
