<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Beer" icon-off="ion-beer" icon-on="ion-beer" href="#/tab/collection_one">
    <ion-nav-view name="tab-collection_one"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Wine" icon-off="ion-wineglass" icon-on="ion-wineglass" href="#/tab/collection_two">
    <ion-nav-view name="tab-collection_two"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Ice Cream" icon-off="ion-icecream" icon-on="ion-icecream" href="#/tab/collection_three">
    <ion-nav-view name="tab-collection_three"></ion-nav-view>
  </ion-tab>


</ion-tabs>
